.colorBox {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border: 2px solid #dcdcdc;
  border-radius: 100px;
  transition: all 0.35s;

  &:hover {
    cursor: pointer;
    border-color: #2bb1ef;
  }

  &.active {
    border-color: #1d1b1b;
  }

  .circlePoint {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}