.colorBox {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border: 2px solid var(--border-color);
  border-radius: 100px;
  transition: all 0.35s;

  &:hover {
    cursor: pointer;
    border-color: var(--primary-color);
  }

  &.active {
    border-color: var(--primary-color);
  }

  .circlePoint {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}