.sudoku-widget .area {
  margin: 24px;
  display: grid;
  width: fit-content;
  background: black;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  grid-gap: 2px;
  border: 2px solid;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .box-area {
    background: #bebebe;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;

    .box-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      cursor: default;

      &.filled {
        color: #1565c0;
        font-weight: 550;
      }

      &.active {
        background: #ececec;
      }

      &.incorrect {
        color: #ff0000;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sudoku-widget .area {
    margin: 12px auto;
  }
}

@media screen and (max-width: 415px) {
  .sudoku-widget .area {
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
  }
}