.ThemeSwitcher {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: fit-content;
  font-size: 16px;

  &:hover {
    .circleShadow {
      opacity: 1;
    }

    .switcherBox {
      .circleBox {
        &.checked {
          svg {
            color: var(--bg-color, #333333);
          }
        }
      }
    }
  }

  .switcherBox {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    border: 1px solid var(--border-color, #a5a5a5);
    border-radius: 1.4em;
    width: fit-content;
    max-width: 12.5em;
    background-color: var(--bg-color, #ebebeb);
    z-index: 10;

    .circleBox {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 1.65em;
      height: 1.65em;

      svg {
        font-size: 1.25em;
        color: var(--text-color, #333333);
        transition: color 0.5s;
      }

      &.checked {
        background: var(--primary-color, #007bff);
        transition: background-color 0.5s;

        svg {
          color: var(--bg-color, #333333);
        }
      }
    }
  }

  .circleShadow {
    position: absolute;
    width: 3.125em;
    height: 3.125em;
    background-color: var(--primary-color, #007bff);
    border-radius: 50%;
    left: -0.25em;
    opacity: 0;
    transition:
      transform 0.35s,
      opacity 0.3s;

    &.transform {
      transform: translateX(2.1875em);
    }
  }
}
