.puzzle-game-widget .toolbar {
  padding: 24px;
  min-width: 160px;
  border-right: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row-gap: 10px;

  hr {
    margin: 10px 0;
  }

  .actions {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
  }

  .controls {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;

    button {
      min-width: 50px;
    }

    .vertical {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .horizontal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        width: 40px;
      }
    }
  }
}