.toolbar {
  padding: 24px;
  min-width: 160px;
  border-right: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row-gap: 10px;

  hr {
    margin: 10px 0;
  }

  .actions {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
  }

  .controls {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;

    button {
      min-width: 50px;
    }

    .vertical {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .horizontal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        width: 40px;
      }
    }
  }
}

@media screen and (max-width: 875px) {
  .toolbar {
      flex-direction: row;
      flex-wrap: wrap;
      grid-column-gap: 10px;
      justify-content: flex-start;
      align-items: center;
      border-right: 0;
      border-bottom: 1px solid #dcdcdc;

      .controls {
        width: 160px;
        margin: 0 auto;
      }

      .actions {
        hr {
          display: none;
        }
      }
    }
}