@use '../../../../../assets/styles/style-guide';

.puzzleGameWidget {
  @include style-guide.card-shadow;
  background-color: var(--bg-paper);
  display: flex;
  max-width: fit-content;
  min-width: 440px;
}
