.errorBoundary {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .title {
    margin-bottom: 20px;
    background: var(--danger-color, #F44336);
    padding: 4px 8px;
    border-radius: 8px;
  }

  pre {
    white-space: wrap;
    background: var(--bg-paper, #ebebeb);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid var(--border-color, #a5a5a5);
    margin: 0;
  }

  .errorCode {
    color: var(--danger-color, #F44336);
  }

  .stackTrace {
    max-height: 200px;
    min-height: 4em;
    --shadow-color: var(--bg-paper, #ebebeb);
  }
}
