.memoryWidgets {
  display: flex;
  flex-direction: column;

  .technologyList {
    margin-bottom: 5px;
  }
}

.heapSizePill {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  max-width: 200px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
  background: var(--bg-paper);

  .heapSize {
    position: absolute;
    z-index: 100;
    font-size: 12px;
    font-weight: 500;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.35s;
  }
}

.factorialWidget {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 445px;
  background: var(--bg-paper);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--border-color);

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .metrics {
    display: flex;
    align-items: center;
    gap: 6px;

    .result,
    .executionTime {
      flex: 1;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
