.avatar {
  display: flex;
  align-items: center;
  padding: 12px;
  position: relative;

  img {
    width: inherit;
    height: inherit;
  }

  .info {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;

    .title {
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
    }

    .sub-title {
      color: grey;
      font-size: 12px;
    }
  }
}