nav {
  margin-top: 6px;
}

.navList {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  white-space: nowrap;

  .navItem {
    border-radius: 8px;
    gap: 16px;
    margin: 0 9px;
    overflow: hidden;
    border: 1px solid transparent;

    &:hover {
      background: var(--bg-color, #ffffff);
      border-color: var(--border-color, #dcdcdc);
    }

    &.selected {
      background: var(--primary-color, #007bff);
      border-color: var(--bg-color, #ffffff);

      .icon {
        color: var(--bg-color, #ffffff);
      }

      .text {
        color: var(--bg-color, #ffffff);
      }
    }

    .text {
      color: var(--text-color, #434343);
    }

    .icon {
      min-width: 1em;
      color: var(--text-color, #434343);
    }
  }
}

@media screen and (max-width: 767px) {
  .navList .navItem {
    margin: 0 8px;
    padding: 8px;

    svg {
      margin-left: 6px;
    }
  }
}
