.panel {
  padding: 24px;
  display: flex;
  justify-content: center;
  border-right: 1px solid #dcdcdc;
  flex-direction: column;

  .mainActions {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;

    button {
      min-width: 65px;

      svg {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .panel {
    padding: 12px;
    border-right: 0;
    border-bottom: 1px solid #dcdcdc;

    .mainActions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      button {
        font-size: 0.8em;
        padding: 4px;

        svg {
          font-size: 16px;
        }
      }
    }
  }
}
