.sudoku-widget .panel {
  padding: 24px;
  display: flex;
  justify-content: center;
  border-right: 1px solid #dcdcdc;
  flex-direction: column;
  grid-row-gap: 10px;

  button {
    min-width: 65px;

    svg {
      margin-right: 10px;
    }
  }
}