.searchPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: inherit;

  .header {
    display: flex;
    flex-direction: column;
  }

  .body {
    margin-top: 10px;
    height: 100%;
    overflow: auto;
    background: inherit;
  }

  .searchResult {
    position: relative;
    display: grid;
    height: 100%;
    background: inherit;
    overflow: auto;

    .loader {
      z-index: 100;
      background: #ffffffa1;
    }

    .sections {
      display: grid;
      gap: 5px;
      background: inherit;
      padding-bottom: 10px;
    }
  }

  .artists, .albums, .playlists, .tracks {
    display: grid;
    padding-bottom: 0;
    background: inherit;

    &.gridLayout {
      padding-bottom: 10px;

      .title {
        display: none;
      }

      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
      }
    }

    .title {
      font-size: 18px;
      margin: 10px 0;
    }

    .cards {
      display: flex;
      flex-direction: row;
      gap: 15px;

      .mediaCard {
        min-width: 150px;
        min-height: 200px;
      }
    }
  }
}