.searchPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    font-size: 16px;
    font-weight: 500;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .body {
    padding: 10px 0;
    flex: 1;
  }
}