.technology-pill {
  color: black;

  &.javascript {
    background: #efd81e;

    .icon {
      background: black;
      color: white;
    }
  }

  &.typescript {
    background: #2f74c0;
    color: white;

    .icon {
      background: black;
      color: white;
    }
  }

  &.dart {
    background: #2bb1ef;
    color: white;

    .icon {
      background: black;
      color: white;
    }
  }

  &.java {
    background: #e86f00;
    color: white;

    .icon {
      background: black;
      color: white;
    }
  }
}