.technologyPill {

  &.technology {
    background-color: var(--bg-color, #ffffff);
    color: var(--primary-color, #072bfa);
    border-color: var(--primary-color, #072bfa);
  }

  &.tool {
    background-color: var(--bg-color, #ffffff);
    color: var(--secondary-color, #5e05cf);
    border-color: var(--secondary-color, #5e05cf);
  }

  .label {
    color: black;
    font-weight: 500;
  }

  .icon {
    background: black;
    color: white;
  }

  &.javascript {
    background: #efd81e;

    .icon {
      background: black;
      color: white;
    }
  }

  &.typescript {
    background: #2f74c0;
    color: white;

    .label {
      color: white;
    }
  }
  &.objectiveC {
    background: #f4f5f6;
    color: black;
  }

  &.dart {
    background: #2bb1ef;
    color: black;
  }

  &.python {
    background: #009688;
    color: white;
  }

  &.java {
    background: #e86f00;
    color: black;
  }
}
