@import "../../../../../assets/styles/style-guide";

.playerWidget {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 105px);
  border: 1px solid #dcdcdc;
  background: #e9e9e9;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  transition: background-color 0.3s;

  &.loading {
    background-color: white;
    pointer-events: none;
  }

  .loaderWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainContent {
    flex: 1;
    background: #fcfcfc;
    padding: 12px 12px 100px 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    @include scroll-style(16px, #8a8a8a, #fcfcfc);
  }

  .footer {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 24px);
  }
}