.playLists {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: inherit; // for scroll-view gate gradient

  .title {
    font-size: 16px;
    font-weight: 500;
  }

  .playListCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    gap: 20px;
    padding-bottom: 20px;
  }
}