.playLists {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: inherit; // for scroll-view gate gradient

  .title {
    font-size: 16px;
    font-weight: 500;
  }

  .playListCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow: auto;
    gap: 20px;
    padding-bottom: 20px;
  }
}