.galleryImagePreview {
  display: flex;
  min-height: 320px;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  background: black;


  .image {
    width: 100%;
    object-fit: contain;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    background: #dadada;
    right: 10px;

    &:hover {
      background: #787878;
    }
  }
}

.galleryImageModalRoot {
  .MuiBackdrop-root {
    background: #000000e8;
  }
  .galleryImageMuiPaper {
    max-width: calc(100vw - 5%);
    max-height: calc(100vh - 10%);
    background: transparent;
    box-shadow: none;
    width: fit-content;
    height: fit-content;
  }
}
