.TabContent {
  .title {
    margin: 0 0 16px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .subtitle {
    margin: 0 0 8px 0;
    font-size: 14px;
    color: #494848;
    font-weight: 500;
  }

  .examples {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 6px;
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .title {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .verticalScrollView {
    max-height: 250px;
    min-height: 250px;
    --shadow-color: #f5f5f5;
  }

  .horizontalScrollView {
    max-width: 100%;
    min-height: 45px;
    overflow-x: auto;
    --shadow-color: #f5f5f5;
  }

  .tabContentPreview {
    padding: 16px;
    border: 1px solid #d0cbcb;
    border-radius: 8px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    font-weight: bold;
    color: var(--text-color);
  }
}
