.wineAppAvatar {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px 3px var(--border-color);
  color: var(--text-color);
  background: var(--primary-color);
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);

  .icon {
    color: var(--bg-color);
  }
}