@use "../../../../../assets/styles/style-guide.scss";
@use "../../../../../shared/components/ui-kit/style.module.scss";

.uiKitWidget {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 560px;
  min-width: 690px;
  overflow: hidden;
  position: relative;

  .layout {
    width: 100%;
    display: flex;
    background: var(--bg-color, #ebebeb);
    border-radius: 16px;
    height: 100%;
    min-height: 400px;
    overflow: hidden;
    border: 1px solid var(--border-color, #ebebeb);
    box-sizing: border-box;

    @include style-guide.scroll-style(
      $width: 8px,
      $track-color: var(--bg-paper, #ebebeb),
      $thumb-color: var(--text-color),
      $thumb-border: 2px
    );

    .nav {
      display: flex;
      flex-direction: column;
      gap: 8px;
      min-width: 200px;
      box-sizing: border-box;
      padding: 8px;
      margin: 8px;
      background: var(--bg-paper, #ebebeb);
      border-radius: 8px;
      overflow: auto;

      .navItem {
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        user-select: none;
        color: var(--text-color, #333333);

        &:hover {
          background: var(--bg-color, #f0f0f0);
          filter: contrast(100%);
          opacity: 0.8;
        }

        &:active {
          opacity: 0.4;
        }

        &.active {
          background: var(--primary-color, #007bff);
          color: var(--text-color, #333333);
          filter: contrast(100%);

          &:hover,
          &:active {
            opacity: 1;
          }

          .text {
            color: var(--bg-color, #333333);
          }
        }

        .text {
          color: var(--text-color, #333333);
        }
      }
    }

    .preview {
      padding: 8px;
      width: 100%;
      min-height: 200px;
      overflow: auto;

      .title {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
