.components-page {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 20px;

  .nav-button {
    box-shadow: 0 3px 6px 2px #dadada;
    border-radius: 4px;
  }
}