.sideBar {
  border-right: 1px solid #dcdcdc;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
  width: 256px;
  background-color: #fbfbfb;

  .header {
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
    background: inherit;
    overflow: hidden;
    padding: 10px;

    .screenResize {
      background: #fbfbfb;
      transition: background-color 0.35s;

      &:hover {
        background: #e9e9e9;
      }

      .icon {
        font-size: 36px;
        color: #434343;
      }
    }

    .appLogo {
      white-space: nowrap;
      font-family: system-ui;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 767px) {
}