aside {
  border-right: 1px solid #dcdcdc;
  overflow: auto;
  padding-top: 15px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
  width: 256px;
  background-color: #fbfbfb;
}