.mui-breadcrumbs {
  .link {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .mui-breadcrumbs {

    .link {
      .page-label {
        display: none;
      }

      svg {
        margin: 0;
      }
    }
  }
}