.playLists {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: inherit;

  .playListCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    overflow: auto;
    gap: 20px;
    padding-bottom: 20px;
  }
}