@import "@assets/styles/style-guide";

.puzzle-game-widget {
  @include card-shadow;
  display: flex;
  max-width: fit-content;
}

@media screen and (max-width: 875px) {
  .puzzle-game-widget {
    flex-direction: column;
    max-width: 100%;

    .toolbar {
      flex-direction: row;
      flex-wrap: wrap;
      grid-column-gap: 10px;
      justify-content: flex-start;
      align-items: center;
      border-right: 0;
      border-bottom: 1px solid #dcdcdc;

      .controls {
        width: 160px;
        margin: 0 auto;
      }

      .actions {
        hr {
          display: none;
        }
      }
    }
  }
}