.mainContent {
  position: relative;
  top: 82px;
  padding: 24px;
}

@media screen and (max-width: 1023px) {
  .mainContent {
    top: 72px;
    padding: 18px;
  }
}

@media screen and (max-width: 767px) {
  .mainContent {
    top: 49px;
    padding: 12px;
  }
}