.navButton {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  border-radius: 12px;
  gap: 6px;
  background-color: var(--bg-paper, #ebebeb);
  transition: all 0.25s;
  border: 1px solid var(--border-color, rgba(0, 0, 0, 0.1));
  box-shadow:  0 10px 8px -5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;

  &:hover {
    background-color: var(--bg-color, #ffffff);
    border-color: var(--primary-color, #007bff);
    color: var(--primary-color, #007bff);

    .iconBox {
      background: var(--primary-color, #007bff);
      color: var(--bg-color, #ffffff);
    }

    .headline {
      color: var(--primary-color, #007bff);
    }
  }

  .iconBox {
    display: flex;
    margin-top: 6px;
    padding: 15px;
    border-radius: 100px;
    background: var(--bg-color, #ebebeb);
    color: var(--text-color, #007bff);
    transition: all 0.3s;

    svg {
      font-size: 26px;
    }
  }

  .headline {
    font-size: 16px;
    margin: 6px 0;
    padding: 0 12px;
    white-space: nowrap;
    text-transform: capitalize;
    color: var(--text-color, #333333);
    min-width: 80px;
  }
}

@media screen and (max-width: 767px) {
  .navButton {
    .iconBox {
      padding: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 18px;
      }
    }

    .headline {
      font-size: 14px;
      padding: 0 8px;
      min-width: fit-content;
      margin: 6px 0 0;
    }
  }
}