.projects-tab {
  display: grid;
  grid-row-gap: 20px;
  margin-top: 20px;

  .project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 3px 6px 2px #dadada;
    border-radius: 4px;

    .pill-widget {
      position: absolute;
      display: flex;
      align-items: center;
      right: 0;
      top: 0;
      border: 1px solid #dcdcdc;
      border-top-width: 0;
      border-right-width: 0;
      border-radius: 0 0 0 4px;
      padding: 10px;
      background: #f3f3f3;

      img {
        margin-right: 5px;
      }
    }

    .name {
      font-weight: 500;
      font-size: 24px;
      margin: 0 0 15px;
    }

    .description {
      font-size: 16px;
      color: grey;
    }

    .technologies {
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }

    .responsibilities {
      margin: 0 18px;
      padding: 15px 0 0;

      li {
        list-style: circle;
        padding: 8px;
        color: #1565c0;
        font-size: 14px;
      }
    }
  }
}