@mixin gradient() {
  pointer-events: none;
  width: 100%;
  position: absolute;
  z-index: 100;
  opacity: 0;
}

.scrollView {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: inherit;

  .children {
    overflow: auto;
    background: inherit;
  }

  .header {
    top: 0;
    @include gradient();
  }

  .footer {
    bottom: 0;
    @include gradient();
  }
}

.scrollViewHorizontal {
  position: relative;
  overflow: auto;
  display: grid;
  background: inherit;

  .children {
    overflow: auto;
    background: inherit;
  }

  .leftBox {
    left: 0;
    pointer-events: none;
    position: absolute;
    z-index: 100;
    opacity: 0;
  }

  .rightBox {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    opacity: 0;
    right: 0;
  }
}