.trackActions {
  text-align: center;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  .shuffle, .repeat {
    &.active {
      color: black;

      svg {
        transform: scale(1.2);
      }
    }
    svg {
      font-size: 18px;
    }
  }
}