.wineAppAvatar {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px 3px rgba(115, 115, 115, 0.44);
  color: #363636;
  background: white;
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
}