.area {
  margin: 24px;
  display: grid;
  width: fit-content;
  background: black;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  grid-gap: 2px;
  border: 2px solid black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .boxArea {
    background: #bebebe;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;

    .boxItem {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      color: black;
      cursor: default;

      &.filled {
        color: #1565c0;
        font-weight: 550;
      }

      &.active {
        background: #ececec;
      }

      &.incorrect {
        color: #ff0000;
      }
    }
  }
}

@media screen and (max-width: 555px) {
  .area {
    margin: 12px;
  }
}
