nav {
  margin-top: 6px;
}

.navList {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  white-space: nowrap;

  .navItem {
    border-radius: 10px;
    margin: 0 10px;
    overflow: hidden;
    border: 1px solid transparent;

    &.selected {
      background: #eaeaea;
      border-color: #dcdcdc;
    }

    .icon {
      color: #434343;
    }
  }
}

@media screen and (max-width: 767px) {
  .navList .navItem {
    margin: 0 8px;
    padding: 0;

    svg {
      margin-left: 10px;
      font-size: 21px;
    }
  }
}