nav {
  margin-top: 20px;

  .nav-list {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    white-space: nowrap;

    .nav-item {
      border: 1px solid #dcdcdc;
      border-radius: 10px;
      margin: 0 10px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 767px) {
  nav {
    .nav-list .nav-item {
      margin: 0 8px;
      padding: 0;

      svg {
        margin-left: 10px;
        font-size: 21px;
      }
    }
  }
}