nav {
  margin-top: 20px;

  .nav-list {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    white-space: nowrap;

    .nav-item {
      border: 1px solid #dcdcdc;
      border-radius: 10px;
      margin: 0 10px;
      overflow: hidden;
    }
  }
}