header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #dcdcdc;
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fbfbfb;
  z-index: 90;
}