.profilePage {
  padding-top: 12px;

  :global(.tabs-header) {
    border-bottom: 1px solid #dcdcdc;
  }

  :global(.tab-item) {
    min-height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .profilePage {
    padding: 12px;

    :global(.tabs-header) {
      :global(.tab-item) {
        min-height: 45px;
        padding: 8px;
        font-size: 14px;

        svg {
          font-size: 18px;
        }
      }
    }
  }
}