@use "../../style.module";

.chatList {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 210px;
  border-right: 1px solid var(--border-color);
  user-select: none;

  .header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);

    .userDetails {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;

      .user {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;

        .name {
          flex: 1;
          font-size: 14px;
          font-weight: 500;
          @include style.ellipsis;
        }
      }

      .actions {
        display: flex;
      }
    }

    .searchBox {
      display: flex;
      align-items: center;
      gap: 10px;

      .addIcon {
        font-size: 24px;
        border-radius: 50%;
        @include style.touchable;
      }
    }
  }

  .body {
    flex: 1;
    overflow: auto;

    .chats {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;

      .chatItem {
        display: flex;
        gap: 12px;
        padding: 12px;
        background: #0000000d;
        border-bottom: 1px solid var(--border-color);
        transition: all 0.35s;
        min-height: 65px;
        box-sizing: border-box;

        &:hover {
          background: rgb(255 255 255 / 15%);
          cursor: pointer;
        }

        &:active {
          opacity: 0.5;
        }

        &:last-child {
          border-bottom: 0;
        }

        &.active {
          background: #0336509c;
        }

        &.skeleton {
          pointer-events: none;

          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #7b7b7b8a;
            @include style.skeletonAnimation(1.5s);
          }

          .details {
            flex: 1;

            .name, .lastMessage {
              width: 100%;
              height: 16px;
              border-radius: 4px;
              background: #7b7b7b8a;
              @include style.skeletonAnimation(1s);
            }

            .lastMessage {
              height: 14px;
            }
          }
        }

        .avatar {
          color: black;
        }

        .details {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 5px;
          color: #dadada;
          overflow: hidden;

          .name {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            @include style.ellipsis();
          }

          .lastMessage {
            color: #607D8B;
            font-size: 12px;
            @include style.ellipsis();
          }
        }
      }
    }
  }
}