.playList {
  display: flex;
  flex-direction: column;
  background: inherit;
  height: 100%;

  .header {
    .owner {
      font-size: 16px;
      color: #0849e9;
      font-weight: 500;
    }
    .details {
      display: flex;
      gap: 20px;

      .availability, .tracksCount, .followers {
        font-size: 16px;
        font-weight: 500;
        color: #6a6969;
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
          color: #111111;
        }
      }

      .availability {
        .public {
          color: #0b0b0b;
          background-color: #1ed760;
        }

        .private {
          color: white;
          background-color: #eb0014;
        }
      }

      .tracksCount {
        svg {
          font-size: 30px;
        }
      }
    }
  }

  .body {
    flex: 1;
    display: grid;
    position: relative;
    overflow: auto;
    background: inherit;
  }

  .tracks {
    padding-bottom: 10px;

    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }
}