.panel {
  padding: 24px;
  display: flex;
  justify-content: center;
  border-right: 1px solid var(--border-color);
  flex-direction: column;

  .mainActions {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    
    button {
      min-width: 65px;

      svg {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 555px) {
  .panel {
    padding: 12px;
    border-right: none;
  }
}
