.userPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: inherit; // for scroll-view gate gradient

  .title {
    font-weight: 500;
  }

  .userHeadline {
    display: flex;

    .userImage {
      width: 80px;
      height: 80px;
    }
  }

  .userCaption {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .fullName {
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
    }

    .email {
      color: #0065d7;
      font-size: 18px;
    }
  }

  .logout {
    position: absolute;
    right: 0;
    top: 0;
    color: #4d4d4d;

    button {
      padding: 0 8px;
      text-transform: none;
    }
  }

  .socialPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #4d4d4d;

    svg {
      color: black;
    }

    .country {
      display: flex;
      align-items: center;

      img {
        height: 18px;
      }
    }

    .followers {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 500;
    }

    .product {
      display: flex;
      align-items: center;
      gap: 5px;

      .subscription {
        font-weight: 500;
      }
    }

    .spotifyLink {
      display: flex;
      align-items: center;
      text-decoration: unset;
      color: inherit;
      font-weight: 500;

      svg {
        margin-right: 5px;
        font-size: 18px;
      }
    }
  }

  .topTracks {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: inherit; // for scroll-view gate gradient
    padding-bottom: 10px;

    .title {
      font-weight: 500;
    }

    .trackList {
      display: flex;
    }
  }
}