.rotation-section {
  padding: 20px;
  border: 1px solid #dcdcdc;
  position: relative;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.rotating {
    cursor: grabbing;

    .scene .plane {
      cursor: grabbing;
      pointer-events: none;
    }
  }

  .scene {
    width: 200px;
    height: 200px;
  }

  .plane {
    cursor: grab;
  }
}