.rotationSection {
  padding: 20px;
  border: 1px solid var(--border-color, #a5a5a5);
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  min-height: 400px;
  min-width: 365px;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(.scene) {
    width: 200px;
    height: 200px;
  }
}