@use "../../../../assets/styles/style-guide.scss";

.Dropdown {
  --dd-background: var(--bg-color, #ffffff);
  --dd-border-color: var(--border-color, #a5a5a5);
  --dd-open-color: var(--primary-color, #007bff);
  --dd-focus-color: var(--primary-color, #007bff);
  --dd-option-tag-bg: var(--bg-paper, #ebebeb);
  --dd-option-tag-text: var(--text-color, #333333);

  background-color: var(--dd-background);
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 170px;
  width: fit-content;
  padding: 6px;
  border: 2px solid var(--dd-border-color);
  box-sizing: border-box;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  line-height: 1.25em;
  transition:
    opacity 0.25s,
    border-color 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:focus-within {
    border-color: var(--dd-focus-color);
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }

  &.multiple {
    .selectedOptions {
      flex-wrap: wrap;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.open {
    border-color: var(--dd-open-color);

    .arrowIcon {
      transform: rotate(-90deg) rotateY(180deg);
    }

    .selectedOptions {
      z-index: 100;
      cursor: default;
    }
  }

  &[data-size="small"] {
    font-size: 14px;
  }

  &[data-size="medium"] {
    font-size: 18px;
  }

  &[data-size="large"] {
    font-size: 24px;
  }

  &[data-disabled="true"] {
    opacity: 0.35;
    pointer-events: none;
  }

  .placeholder {
    flex: 1;
    font-size: 1em;
    color: var(--dd-option-tag-text);
    filter: contrast(30%);
  }

  .selectedOptions {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 6px;
    flex: 1 1 auto;
    font-size: 1em;
    color: var(--text-color);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    z-index: 90;

    .optionTag {
      background-color: var(--dd-option-tag-bg);
      color: var(--dd-option-tag-text);
      filter: contrast(80%); // todo: adjust contrast for better visibility
      padding: 0 6px;
      border-radius: 4px;
      font-size: 1em;
      transition: 0.25s opacity;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc-size(fit-content, size);
    }

    .optionText {
      font-size: 1em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .arrowIcon {
    width: 1.2em;
    height: 1em;
    color: var(--dd-border-color);
    fill: currentColor;
    transform: rotate(-90deg);
    transition:
      transform 0.3s,
      opacity 0.25s;
    cursor: pointer;
    outline: none;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.DropdownWrapper {
  --dd-background: var(--bg-color, #ffffff);
  --dd-border-color: var(--primary-color, #007bff);
  --dd-scrollbar-bg: var(--bg-paper, #ebebeb);
  --dd-scrollbar-thumb: var(--text-color, #a5a5a5);
  --dd-box-shadow-color: #31313140;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(var(--db-offset));
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(calc(-100% - var(--db-offset)));
    }
  }

  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  .dropdownMenu {
    overflow: hidden;
    position: fixed;
    max-height: 11.2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dd-border-color);
    background-color: var(--dd-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px var(--dd-box-shadow-color);
    transform: translateY(0);
    transition:
      transform 0.15s,
      opacity 0.3s;
    z-index: 121;

    @include style-guide.scroll-style(
      $width: 8px,
      $track-color: var(--dd-scrollbar-bg),
      $thumb-color: var(--dd-scrollbar-thumb),
      $thumb-border: 2px
    );

    &[data-anchor="top"] {
      animation:
        fadeIn 0.35s ease forwards,
        slideUp 0.35s ease forwards;
      box-shadow: 0 -4px 8px var(--box-shadow-color);
    }

    &[data-anchor="bottom"] {
      animation:
        fadeIn 0.35s ease forwards,
        slideDown 0.35s ease forwards;
    }

    &[data-size="small"] {
      font-size: 14px;
    }

    &[data-size="medium"] {
      font-size: 18px;
    }

    &[data-size="large"] {
      font-size: 24px;
    }

    .options {
      margin: 0;
      padding: 4px;
      list-style: none;
      gap: 4px;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .option {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 6px;
        font-size: 1em;
        color: var(--text-color);
        cursor: pointer;
        border-radius: 4px;
        transition:
          background-color 0.25s,
          color 0.25s,
          opacity 0.35s;

        &:hover {
          background-color: var(--dd-border-color);
          color: var(--dd-background);
        }

        &:active {
          opacity: 0.7;
        }

        &.selected {
          background-color: var(--dd-border-color);

          &:hover {
            color: var(--dd-background);
            cursor: default;
            background-color: var(--dd-border-color);
          }

          .text {
            color: var(--dd-background);
          }
        }

        .text {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }

        .icon {
          font-size: 0.9em;
        }
      }
    }
  }
}
