.chatAppTextArea {
  display: flex;
  border-color: transparent;
  outline: none;
  width: 100%;
  min-width: 120px;
  resize: none;
  background: #3e515c96;
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  transition: all 0.3s;

  &:focus, &:focus-within {
    border-color: #979797a8;
    box-shadow: inset 0 0 4px 1px #b7b7b780;
  }
}