@use "sass:color";

@function from-hex-to-rgb($hex) {
  @return color.channel($hex, "red", $space: rgb),
    color.channel($hex, "green", $space: rgb),
    color.channel($hex, "blue", $space: rgb);
}

:root {
  // RGB values for focus shadows
  --primary-color-rgb: #{from-hex-to-rgb(#007bff)};
  --secondary-color-rgb: #{from-hex-to-rgb(#951eb6)};
  --success-color-rgb: #{from-hex-to-rgb(#28a745)};
  --danger-color-rgb: #{from-hex-to-rgb(#dc3545)};
  --warning-color-rgb: #{from-hex-to-rgb(#ffc107)};
  --info-color-rgb: #{from-hex-to-rgb(#17a2b8)};
  --box-shadow-color: rgba(0, 0, 0, 0.1);

  &[data-theme="light"] {
    color-scheme: light;
    --bg-color: #ffffff;
    --bg-paper: #f7f7f7;
    --text-color: #333333;
    --border-color: #a5a5a5;
    --primary-color: #2a4aff;
    --secondary-color: #fb8c00;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
  }

  &[data-theme="light-purple"] {
    color-scheme: light;
    --bg-color: #fefaf6;
    --bg-paper: #f4f4f4;
    --text-color: #000000;
    --border-color: #dbd6ce;
    --primary-color: #5d1cd0;
    --secondary-color: #00bcd4;
    --success-color: #8bc34a;
    --danger-color: #ff5722;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
  }

  &[data-theme="light-green"] {
    color-scheme: light;
    --bg-color: #f2fcf2;
    --bg-paper: #e0f7e9;
    --text-color: #323232;
    --border-color: #86cb88;
    --primary-color: #4caf50;
    --secondary-color: #ff8c00;
    --success-color: #8bc34a;
    --danger-color: #ff5722;
    --warning-color: #ffc107;
    --info-color: #0c7686;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
  }

  &[data-theme="dark"] {
    color-scheme: dark;
    --bg-color: #19192b;
    --bg-paper: #29293f;
    --text-color: #f0f0f0;
    --border-color: #494966;
    --primary-color: #a8a7f1;
    --secondary-color: #f5d299;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --box-shadow-color: rgba(0, 0, 0, 0.3);
  }

  &[data-theme="dark-azure"] {
    color-scheme: dark;
    --bg-color: #121212ff;
    --bg-paper: #2c2c2cff;
    --text-color: #ebebeb;
    --border-color: #4a4a4aff;
    --primary-color: #41f2ff;
    --secondary-color: #eed47b;
    --success-color: #50de08ff;
    --danger-color: #eb4353ff;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --box-shadow-color: rgba(0, 0, 0, 0.3);
  }

  &[data-theme="dark-red"] {
    color-scheme: dark;
    --bg-color: #1a1616;
    --bg-paper: #272727;
    --text-color: #d4d4d4;
    --border-color: #4e4e4e;
    --primary-color: #ea383b;
    --secondary-color: #16c71e;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #1dd5f1;
    --box-shadow-color: rgba(0, 0, 0, 0.3);
  }
}
