.sphere-widget {
  .sphere {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;

    .plane {
      width: 100%;
      height: 100%;
      border: 2px solid black;
      border-radius: 50%;
      box-sizing: border-box;
      position: absolute;

      &.north-x {
        border-color: #ff0000;
        background: rgba(248, 0, 0, 0.5);
        transform: rotateX(0deg);
      }
      &.north-east-x {
        border-color: #e86f00;
        background: rgba(232, 111, 0, 0.5);
        transform: rotateX(45deg);
      }
      &.east-x {
        transform: rotateX(90deg);
        border-color: #efd81e;
        background: rgba(239, 216, 30, 0.5);
      }
      &.south-east-x {
        transform: rotateX(135deg);
        border-color: #00f800;
        background: rgba(0, 248, 0, 0.5);
      }

      &.north-y {
        border-color: #007dff;
        transform: rotateY(0deg);
      }
      &.north-east-y {
        border-color: #003072;
        background: rgba(0, 48, 114, 0.5);
        transform: rotateY(45deg);
      }
      &.east-y {
        transform: rotateY(90deg);
        border-color: #be01bb;
        background: rgba(190, 1, 187, 0.5);
      }
      &.south-east-y {
        transform: rotateY(135deg);
        border-color: #090808;
        background: rgba(9, 8, 8, 0.5);
      }
    }
  }
}